.team-member-edit
{
    position:absolute;
    top:0px;
    right:0px;
    float:right;
}

.img-responsive
{
    display:block;
    height:auto;
    max-width:100%;
}

.player-card{
    display:inline-block;
    width: 100%;
    margin-bottom:30px;
}