<div style="width:100%;height:250px;background-image:url('assets/images/Fundoescuro.png');margin-bottom:25px;background-size: 100% 100%;">
    <div class="width-container-pro" style="position: relative;margin: 0px auto;padding: 103px 0px;">
        <div id="progression-studios-page-title-container">
            <h1 class="page-title" style="text-align:center;color:white;"><b>Ranking {{year}}</b></h1>
        </div>
        <div class="clearfix-pro"></div>
    </div>
</div>


<div class="animate">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <md-tab-group (selectChange)="selectChange($event)">
                            <md-tab>
                                <template md-tab-label>
                                    <b>Pontos</b>
                                </template>
                            </md-tab>
                            <md-tab>
                                <template md-tab-label>
                                    <b>M&eacute;dia</b>
                                </template>
                            </md-tab>
                            <md-tab>
                                <template md-tab-label>
                                    <b>Gols</b>
                                </template>
                            </md-tab>
                            <md-tab>
                                <template md-tab-label>
                                    <b>Assist.</b>
                                </template>
                            </md-tab>
                            <md-tab>
                                <template md-tab-label>
                                    <b>Jogos</b>
                                </template>
                            </md-tab>
                            <md-tab>
                                <template md-tab-label>
                                    <b>Vitorias</b>
                                </template>
                            </md-tab>
                            <md-tab>
                                <template md-tab-label>
                                    <b>Empates</b>
                                </template>
                            </md-tab>
                            <md-tab>
                                <template md-tab-label>
                                    <b>Derrotas</b>
                                </template>
                            </md-tab>
                            <md-tab>
                                <template md-tab-label>
                                    <b>Gols Contra</b>
                                </template>
                            </md-tab>
                        </md-tab-group>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-condensed table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Peladeiro</th>
                                            <th>Pontos</th>
                                            <th>M&eacute;dia de pontos</th>
                                            <th>Gols</th>
                                            <th>Assist&ecirc;ncias</th>
                                            <th>Jogos</th>
                                            <th>Vitorias</th>
                                            <th>Empates</th>
                                            <th>Derrotas</th>
                                            <th>Gols Contra</th>
                                            <th>Participa&ccedil;&otilde;es</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor='let item of rankingPlayers'>
                                            <td>{{item.Peladeiro}}</td>
                                            <td>{{item.Pontos}}</td>
                                            <td>{{item.MediaPontos}}</td>
                                            <td>{{item.Gp}}</td>
                                            <td>{{item.ast}}</td>
                                            <td>{{item.jogos}}</td>
                                            <td>{{item.Vitorias}}</td>
                                            <td>{{item.Empates}}</td>
                                            <td>{{item.Derrotas}}</td>
                                            <td>{{item.gc}}</td>
                                            <td>{{item.dias}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="card-block">
                            <div class="table-responsive">
                                <div class="card-block">
							    <h4 class="card-title">Outros jogadores</h4>
							    <p class="card-text">Jogadores sem participa&ccedil;&otilde;es suficiente para entrar no ranking.</p>
						 	    </div>
                                <table class="table table-condensed table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Peladeiro</th>
                                            <th>Pontos</th>
                                            <th>M&eacute;dia de pontos</th>
                                            <th>Gols</th>
                                            <th>Assist&ecirc;ncias</th>
                                            <th>Jogos</th>
                                            <th>Vitorias</th>
                                            <th>Empates</th>
                                            <th>Derrotas</th>
                                            <th>Gols Contra</th>
                                            <th>Participa&ccedil;&otilde;es</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>