.btn-facebook {
	background: #3B5998;
	color: #FFF;
}
.btn-twitter {
	background: #1D9FEF;
	color: #FFF;
}
.btn-google {
	background: #DB4437;
	color: #FFF;
}
.btn-skype {
	background: #00AFF4;
	color: #FFF;
}
.btn-apple {
	background: #333333;
	color: #FFF;
}