<style>

</style>


<div class="animate">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-inverse card-info card-header">
                        <div>
                            <h5 class="card-inverse card-title">
                                Ordem de chegada
                            </h5>
                        </div>
                    </div>
                    <div class="card-block">
                        <input type="text" name="nameInput" [(ngModel)]="newPlayer">
                        <button type="button" class="pull-right-fix btn btn-success btn-circle btn-sm" (click)="addPlayerToOrder()"><i class="fa fa-plus"></i></button>
                        <label class="checkbox1">
                            <input name="goleiroChk" type="checkbox" [(ngModel)]="isGoalkeeper">
                            <span class="remove-margim"></span>
                            <img src="assets/images/goleiro.png" class="img-detail-goalkeeper" />
                        </label>
                    </div>
                    <div class="card-block" [dragula]='"first-bag"' [dragulaModel]='ordemDeChegada'>
                        <div class="list-group-item" *ngFor='let item of ordemDeChegada'>
                            <img *ngIf="item.goleiro" src="assets/images/goleiro.png" class="img-detail-goalkeeper" />
                            {{item.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-inverse card-info card-header">
                        <div>
                            <h5 class="card-inverse card-title">
                                Partida em andamento
                            </h5>
                            <button type="button" class="pull-right-fix-header btn-primary btn btn-circle btn-sm" (click)="showConfig()"><i class="fa fa-gear"></i></button>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12" *ngIf="confShow">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Numero de jogadores</label>
                                                    <input type="email" class="form-control" name="confNumberPlayersInput" [(ngModel)]="confNumberPlayers">
                                                    <button type="button" (click)="applyConfig()" class="btn btn-success">Aplicar agora</button>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Duas Seguidas</label>
                                                    <div class="config-switch switch">
                                                        <input type="checkbox" [(ngModel)]="confPrimeiraDuasPartidas" name="confPrimeiraDuasPartidasChk">
                                                        <label>
                                                            <div></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <button type="button" (click)="tirarAzul()" class="btn btn-primary">Tirar time azul</button>
                                            </div>
                                            <div class="col-lg-3">
                                                <button type="button" (click)="tirarAmarelo()" class="btn btn-warning">Tirar time amarelo</button>
                                            </div>
                                            <div class="col-lg-3">
                                                <button type="button" (click)="remontarTimes()" class="btn btn-info">Reiniciar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-inverse card-primary card-header">
                                        <div>
                                            <h5 class="card-inverse card-title  text-xs-center">
                                                Time Azul
                                            </h5>
                                        </div>
                                    </div>
                                    <div [dragula]='"second-bag"' [dragulaModel]='Current.time1'>
                                        <div *ngFor='let item of Current.time1'>
                                            <div [class.expand]="showMenu === item.id">
                                                <div class="list-group-item" (click)="addExpandClass(item.id)">
                                                    {{item.name}}
                                                    <a (click)="desmarcarGol(item.id)"><img *ngFor="let a of countAssistent(item.gols)" src="assets/images/gol.png" class="img-detail" /></a>
                                                    <a (click)="desmarcarGolAssist(item.id)"><img *ngFor="let a of countAssistent(item.assistencias)" src="assets/images/Assitencia.png" class="img-detail" /></a>
                                                    <a (click)="desmarcarGolContra(item.id)"><img *ngFor="let a of countAssistent(item.golsContra)" src="assets/images/GolContra.png" class="img-detail" /></a>
                                                </div>
                                                <div class="list-group-item player-options">
                                                    <table class="tblStrech">
                                                        <tr>
                                                            <td align="center">
                                                                <a (click)="marcarGol(item.id)">
                                                                    <img src="assets/images/gol.png" class="user-avatar" />
                                                                </a>
                                                            </td>
                                                            <td align="center">
                                                                <a (click)="marcarGolAssist(item.id)">
                                                                    <img src="assets/images/Assitencia.png" class="user-avatar" />
                                                                </a>
                                                            </td>
                                                            <td align="center">
                                                                <a (click)="marcarGolContra(item.id)">
                                                                    <img src="assets/images/GolContra.png" class="user-avatar" />
                                                                </a>
                                                            </td>
                                                            <td align="center">
                                                                <button type="button" class="btn btn-danger btn-circle btn-sm" (click)="removePlayer(item.id)"><i class="fa fa-times"></i></button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="Current.goleiroTime1" [class.expand]="showMenu === Current.goleiroTime1.id">
                                        <div class="list-group-item" (click)="addExpandClass(Current.goleiroTime1.id)">
                                            <img src="assets/images/goleiro.png" class="img-detail-goalkeeper" />
                                            {{Current.goleiroTime1.name}}
                                            <a (click)="desmarcarGol(Current.goleiroTime1.id)"><img *ngFor="let a of countAssistent(Current.goleiroTime1.gols)" src="assets/images/gol.png" class="img-detail" /></a>
                                            <a (click)="desmarcarGolAssist(Current.goleiroTime1.id)"><img *ngFor="let a of countAssistent(Current.goleiroTime1.assistencias)" src="assets/images/Assitencia.png" class="img-detail" /></a>
                                            <a (click)="desmarcarGolContra(Current.goleiroTime1.id)"><img *ngFor="let a of countAssistent(Current.goleiroTime1.golsContra)" src="assets/images/GolContra.png" class="img-detail" /></a>
                                        </div>
                                        <div class="list-group-item player-options">
                                            <table class="tblStrech">
                                                <tr>
                                                    <td align="center">
                                                        <a (click)="marcarGol(Current.goleiroTime1.id)">
                                                            <img src="assets/images/gol.png" class="user-avatar" />
                                                        </a>
                                                    </td>
                                                    <td align="center">
                                                        <a (click)="marcarGolAssist(Current.goleiroTime1.id)">
                                                            <img src="assets/images/Assitencia.png" class="user-avatar" />
                                                        </a>
                                                    </td>
                                                    <td align="center">
                                                        <a (click)="marcarGolContra(Current.goleiroTime1.id)">
                                                            <img src="assets/images/GolContra.png" class="user-avatar" />
                                                        </a>
                                                    </td>
                                                    <td align="center">
                                                        <button type="button" class="btn btn-danger btn-circle btn-sm" (click)="removePlayer(Current.goleiroTime1.id)"><i class="fa fa-times"></i></button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-inverse card-warning card-header">
                                        <div>
                                            <h5 class="card-inverse card-title  text-xs-center">
                                                Time Amarelo
                                            </h5>
                                        </div>
                                    </div>
                                    <div [dragula]='"second-bag"' [dragulaModel]='Current.time2'>
                                        <div *ngFor='let item of Current.time2'>
                                            <div [class.expand]="showMenu === item.id">
                                                <div class="list-group-item" (click)="addExpandClass(item.id)">
                                                    {{item.name}}
                                                    <a (click)="desmarcarGol(item.id)"><img *ngFor="let a of countAssistent(item.gols)" src="assets/images/gol.png" class="img-detail" /></a>
                                                    <a (click)="desmarcarGolAssist(item.id)"><img *ngFor="let a of countAssistent(item.assistencias)" src="assets/images/Assitencia.png" class="img-detail" /></a>
                                                    <a (click)="desmarcarGolContra(item.id)"><img *ngFor="let a of countAssistent(item.golsContra)" src="assets/images/GolContra.png" class="img-detail" /></a>
                                                </div>
                                                <div class="list-group-item player-options">
                                                    <table class="tblStrech">
                                                        <tr>
                                                            <td align="center">
                                                                <a (click)="marcarGol(item.id)">
                                                                    <img src="assets/images/gol.png" class="user-avatar" />
                                                                </a>
                                                            </td>
                                                            <td align="center">
                                                                <a (click)="marcarGolAssist(item.id)">
                                                                    <img src="assets/images/Assitencia.png" class="user-avatar" />
                                                                </a>
                                                            </td>
                                                            <td align="center">
                                                                <a (click)="marcarGolContra(item.id)">
                                                                    <img src="assets/images/GolContra.png" class="user-avatar" />
                                                                </a>
                                                            </td>
                                                            <td align="center">
                                                                <button type="button" class="btn btn-danger btn-circle btn-sm" (click)="removePlayer(item.id)"><i class="fa fa-times"></i></button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="Current.goleiroTime2" [class.expand]="showMenu === Current.goleiroTime2.id">
                                        <div class="list-group-item" (click)="addExpandClass(Current.goleiroTime2.id)">
                                            <img src="assets/images/goleiro.png" class="img-detail-goalkeeper" />
                                            {{Current.goleiroTime2.name}}
                                            <a (click)="desmarcarGol(Current.goleiroTime2.id)"><img *ngFor="let a of countAssistent(Current.goleiroTime2.gols)" src="assets/images/gol.png" class="img-detail" /></a>
                                            <a (click)="desmarcarGolAssist(Current.goleiroTime2.id)"><img *ngFor="let a of countAssistent(Current.goleiroTime2.assistencias)" src="assets/images/Assitencia.png" class="img-detail" /></a>
                                            <a (click)="desmarcarGolContra(Current.goleiroTime2.id)"><img *ngFor="let a of countAssistent(Current.goleiroTime2.golsContra)" src="assets/images/GolContra.png" class="img-detail" /></a>
                                        </div>
                                        <div class="list-group-item player-options">
                                            <table class="tblStrech">
                                                <tr>
                                                    <td align="center">
                                                        <a (click)="marcarGol(Current.goleiroTime2.id)">
                                                            <img src="assets/images/gol.png" class="user-avatar" />
                                                        </a>
                                                    </td>
                                                    <td align="center">
                                                        <a (click)="marcarGolAssist(Current.goleiroTime2.id)">
                                                            <img src="assets/images/Assitencia.png" class="user-avatar" />
                                                        </a>
                                                    </td>
                                                    <td align="center">
                                                        <a (click)="marcarGolContra(Current.goleiroTime2.id)">
                                                            <img src="assets/images/GolContra.png" class="user-avatar" />
                                                        </a>
                                                    </td>
                                                    <td align="center">
                                                        <button type="button" class="btn btn-danger btn-circle btn-sm" (click)="removePlayer(Current.goleiroTime2.id)"><i class="fa fa-times"></i></button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">

                                <table class="tblStrech">
                                    <tr>
                                        <td align="center">
                                            <h1 class="text-xs-center">                <span class="team-blue">Azul</span></h1>
                                        </td>
                                        <td align="center">
                                            <h1 class="text-xs-center">{{time1Goals}}     X     {{time2Goals}}</h1>
                                        </td>
                                        <td align="center">
                                            <h1 class="text-xs-center">    <span class="team-yellow">Amarelo</span></h1>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td align="center">
                                            <button type="button" (click)="voltarJogo()" class="btn btn-sm btn-rounded">Voltar</button>
                                        </td>
                                        <td align="center">
                                            <button type="button" (click)="finalizarJogo()" class="btn btn-lg btn-success btn-rounded">Finalizar</button>
                                        </td>
                                        <td align="center">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" [(ngModel)]="Current.timeVantagem">
                                                    Azul
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="2" [(ngModel)]="Current.timeVantagem">
                                                    Amarelo
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="card" *ngIf="jogosFinalizados.length > 0">
                                    <div class="card-inverse card-info card-header">
                                        <div>
                                            <h5 class="card-inverse card-title">
                                                Jogos passados
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-lg-6" *ngFor='let item of jogosFinalizados.slice().reverse()'>
                                                <table class="tblStrech border-1">
                                                    <tr>
                                                        <td align="left" class="card-primary padding-left-5 header-text-white">
                                                            <img *ngIf="item.time1Goals() > item.time2Goals()" src="assets/images/win.png" class="img-detail-goalkeeper margin-up-1" />
                                                            Azul
                                                        </td>
                                                        <td align="right" class="card-primary padding-right-5 header-text-white"><b>{{item.time1Goals()}}</b></td>
                                                        <td align="left" class="card-warning padding-left-5 header-text-white"><b>{{item.time2Goals()}}</b></td>
                                                        <td align="right" class="card-warning padding-right-5 header-text-white">
                                                            Amarelo
                                                            <img *ngIf="item.time1Goals() < item.time2Goals()" src="assets/images/win.png" class="img-detail-goalkeeper margin-up-1" />
                                                        </td>
                                                    </tr>

                                                    <tr *ngFor="let chieldItem of countAssistent(item.pegaLinhas()); let i = index;">
                                                        <td align="left" colspan="2" class="padding-5 border-right-1 same-width-td">
                                                            {{item.time1.length > i ? item.time1[i].name:''}}
                                                            <template [ngIf]="item.time1.length > i">
                                                                <img *ngFor="let a of countAssistent(item.time1[i].gols)" src="assets/images/gol.png" class="img-detail-mini" />
                                                                <img *ngFor="let a of countAssistent(item.time1[i].assistencias)" src="assets/images/Assitencia.png" class="img-detail-mini" />
                                                                <img *ngFor="let a of countAssistent(item.time1[i].golsContra)" src="assets/images/GolContra.png" class="img-detail-mini" />
                                                            </template>
                                                        </td>
                                                        <td align="right" colspan="2" class="padding-5 same-width-td">
                                                            <template [ngIf]="item.time2.length > i">
                                                                <img *ngFor="let a of countAssistent(item.time2[i].gols)" src="assets/images/gol.png" class="img-detail-mini-left" />
                                                                <img *ngFor="let a of countAssistent(item.time2[i].assistencias)" src="assets/images/Assitencia.png" class="img-detail-mini-left" />
                                                                <img *ngFor="let a of countAssistent(item.time2[i].golsContra)" src="assets/images/GolContra.png" class="img-detail-mini-left" />
                                                            </template>
                                                            {{item.time2.length > i ? item.time2[i].name:''}}
                                                        </td>
                                                    </tr>

                                                    <tr *ngIf="item.goleiroTime2 || item.goleiroTime1" class="tr-goalkeeper">
                                                        <td align="left" class="padding-left-5">
                                                            <template [ngIf]="item.goleiroTime1">
                                                                <img src="assets/images/goleiro.png" class="img-detail-goalkeeper-mini" />
                                                                {{item.goleiroTime1.name}}
                                                            </template>
                                                        </td>
                                                        <td align="right" class="padding-right-5 border-right-1">
                                                            <template [ngIf]="item.goleiroTime1">
                                                                <img *ngFor="let a of countAssistent(item.goleiroTime1.gols)" src="assets/images/gol.png" class="img-detail" />
                                                                <img *ngFor="let a of countAssistent(item.goleiroTime1.assistencias)" src="assets/images/Assitencia.png" class="img-detail" />
                                                                <img *ngFor="let a of countAssistent(item.goleiroTime1.golsContra)" src="assets/images/GolContra.png" class="img-detail" />
                                                            </template>
                                                        </td>
                                                        <td align="left" class="padding-left-5">
                                                            <template [ngIf]="item.goleiroTime2">
                                                                <img *ngFor="let a of countAssistent(item.goleiroTime2.gols)" src="assets/images/gol.png" class="img-detail" />
                                                                <img *ngFor="let a of countAssistent(item.goleiroTime2.assistencias)" src="assets/images/Assitencia.png" class="img-detail" />
                                                                <img *ngFor="let a of countAssistent(item.goleiroTime2.golsContra)" src="assets/images/GolContra.png" class="img-detail" />
                                                            </template>
                                                        </td>
                                                        <td align="right" class="padding-right-5">
                                                            <template [ngIf]="item.goleiroTime2">
                                                                {{item.goleiroTime2.name}}
                                                                <img src="assets/images/goleiro.png" class="img-detail-goalkeeper-mini" />
                                                            </template>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3" *ngIf="proximos.length > 0">
                                <div class="card">
                                    <div class="card-inverse card-info card-header">
                                        <div>
                                            <h5 class="card-inverse card-title">
                                                Proxima
                                            </h5>
                                        </div>
                                    </div>
                                    <div>
                                        <div [dragula]='"second-bag"' [dragulaModel]='proximos'>
                                            <div class="list-group-item" *ngFor='let item of proximos'>
                                                <img *ngIf="item.goleiro" src="assets/images/goleiro.png" class="img-detail-goalkeeper" />
                                                {{item.name}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
